<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="navbar">
			  <a href="/">Home</a>
				
				<div class="experiences">
				    <button class="experiencebtn">Experiences
				      <i class="fa fa-caret-down"></i>
				    </button>
				    <div class="experience-content">
				      <a href="/gateway">Gateway to University Honors</a>
				      <a href="/python">Python and Women in STEM</a>
				      <a href="/arj">Accelerating Racial Justice</a>
				    </div>
				  </div> 
				

				  <div class="dropdown">
				    <button class="dropbtn">Year in Review 
				      <i class="fa fa-caret-down"></i>
				    </button>
				    <div class="dropdown-content">
				      <a href="/year1">Year 1</a>
				      <a href="/year2">Year 2</a>
				    </div>
				  </div> 
			</div>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<u1>
					<li><a href="https://github.com/sydneyoconnor">github.com/sydneyoconnor</a></li>
					<li><a href="mailto:oconnosy@mail.uc.edu">oconnosy@mail.uc.edu</a></li>
				</u1>  
			</footer>
		</body>
	</html>
